* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #4e95ff;
}

nav {
  padding: 10px 0;
}

.container-header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.link-menu {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
}

.link-menu:hover {
  color: #a7bdfa;
}

.link-menu:active {
  color: #000000;
}

.search-input,
.search-button {
  height: 40px;
  border: none;
  border-radius: 5px;
}

.search-button:hover {
  color: #ffffff;
  background: #a7bdfa;
}

.search-button:active {
  color: #ffffff;
  background: #000000;
}

.container {
  max-width: 700px;
  margin: 15px auto;
  box-shadow: 3px 3px 10px 2px #00000033;
  border-radius: 5px;
  min-height: 100px;
}

.content {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.counter {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
